body {
    font-family: Arial;
    margin: 0 auto;
    max-width: 1200px;
}

.main_title {
    text-align: center;
}
.circle {
    border-radius: 120px;
    background: #3d6cb0;
    width: 200px;
    height: 200px;
    border: double 15px white;
    margin-left: 25%;
    margin-bottom: 30px;
}
h1 {
    font-size: 60px;
    font-weight: normal;
    margin: auto;    
}
h2 {
    font-size: 72px;
    font-weight: bold;
    font-family: Arial;
    margin: auto;   
}
h3 {
    font-size: 30px;
    font-weight: bold;
    font-family: Arial;
    margin: auto;
    margin-bottom: 60px;   
}
.icon {
    width: 70px;
    height: 70px;
    float: left;
    background-size: cover;
    padding-right: 10px;
}
.title {
    font-size: 45px;
    font-weight: bold;
    font-family: Arial;
    color: #3d6cb0;
    margin: auto;
    padding-top: 12px;
    float: left;
    margin-right: 20px;   
}
.line {
    border-bottom: 3px #3d6cb0 solid;
    height: 45px;
    width: 180px;
    float: left;
    margin-top: -11px;
    margin-bottom: 30px;    
}
.headlin {
    padding-bottom: 80px;
}
.bold {
    font-weight: bold;
}
.my_data1 {
    height: 40px;
    width: 100%;
    margin: 20px;
}
.contact {
    font-size: 25px;
    color: #5078b6;
    font-weight: bold;
    float: left;
    width: 30%;
}
.data {
    font-size: 20px;  
    float: left;
    width: 70%;
}
.background_blue{
    border-radius: 50px;
    height: 100px;
    width: 100px;
    border: solid #3d6cb0;
    font-size: 12px;
    word-spacing: 100px;
    margin-left: 5px;
    color: #3d6cb0;
    background-color: #3d6cb0;
}
.background_transparent {
    border-radius: 30px;
    height: 50px;
    width: 50px;
    border: solid #e6e6e6;
    font-size: 12px;
    margin-left: 5px;
    color: #e6e6e6;
    background-color:#e6e6e6;
}
ol li {
    list-style-type: none;
}
h4 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 3px;
    margin-top: 10px;
    text-align: center;
}
.master_degree {
    font-size: 25px;
    font-weight: bold;
    color: #3d6cb0;
}
.feb_jun {
    font-size: 25px;
}
.comment {
    font-size: 25px;
}
p {
    font-size: 16px;
}
li {
    font-size: 40px;
}
.company_name {
    font-size: 25px;
    font-weight: bold;
}
.left {
    float: left;
}
.right {
    float: right;
}
.name_software {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 3px;
    margin-top: 10px;   
}
.border {
    width: 100%;
    height: 40px;
}
.border_blue1 {
    width: 180px;
    height: 15px;
    background-color: #3d6cb0;
    float: left;
}
.border_transparent1 {
    width: 20px;
    height: 15px;
    background-color: #e6e6e6;
    float: left;
}

.border_blue2 {
    width: 150px;
    height: 15px;
    background-color: #3d6cb0;
    float: left;
}
.border_transparent2 {
    width: 50px;
    height: 15px;
    background-color: #e6e6e6;
    float: left;
}
.border_blue3 {
    width: 110px;
    height: 15px;
    background-color: #3d6cb0;
    float: left;
}
.border_transparent3 {
    width: 90px;
    height: 15px;
    background-color: #e6e6e6;
    float: left;
}
.border_blue4 {
    width: 160px;
    height: 15px;
    background-color: #3d6cb0;
    float: left;
}
.border_transparent4 {
    width: 40px;
    height: 15px;
    background-color: #e6e6e6;
    float: left;
}
.border_blue5 {
    width: 120px;
    height: 15px;
    background-color: #3d6cb0;
    float: left;
}
.border_transparent5 {
    width: 80px;
    height: 15px;
    background-color: #e6e6e6;
    float: left;
}
.border_blue6 {
    width: 180px;
    height: 15px;
    background-color: #3d6cb0;
    float: left;
}
.border_transparent6 {
    width: 20px;
    height: 15px;
    background-color: #e6e6e6;
    float: left;
}
.software-left {
    float: left;
}
.software-right {
    float: right;
}
    
